<app-header title="Infinite Scroll"></app-header>

<ion-content>

<ion-list>
  <ion-item *ngFor="let item of data; let i = index">
    <ion-label>Item {{i + 1}}</ion-label>
  </ion-item>
</ion-list>

<ion-infinite-scroll
    threshold="100px"
    position="bottom"
    (ionInfinite)="loadData($event)">
  <ion-infinite-scroll-content
    loadingSpinner="bubbles"
    loadingText="Loading more data...">
  </ion-infinite-scroll-content>
</ion-infinite-scroll>

<ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="showBotton"
    >
  <ion-fab-button>
    <ion-label>Aceptar</ion-label>
    <ion-icon slot="end" name="add"></ion-icon>
  </ion-fab-button>
</ion-fab>


</ion-content>
