<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-back-button
          defaultHref="/"
          mode="ios"
          text="Regresar">
      </ion-back-button>
    </ion-buttons>

    <ion-title>Avatar</ion-title>

    <ion-avatar slot="end">
      <ion-img src="/assets/stan-lee.jpg"></ion-img>
    </ion-avatar>

  </ion-toolbar>
</ion-header>

<ion-content>

<ion-list>
  <ion-item>

    <ion-avatar slot="start">
      <ion-img src="/assets/stan-lee.jpg"></ion-img>
    </ion-avatar>

    <ion-label>Stan Lee</ion-label>
  </ion-item>
</ion-list>


</ion-content>
